/*rightBar css*/
.right-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-left: 80px;
  margin-right: 30px;
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);

}

.user-title {
  height: 50px;
  border-bottom: 1px solid #cccccc;
}

.chat-record {
  flex: 1;
}

.user-send {
  flex: 0 1 25%;
  border-top: 1px solid #cccccc;
}