html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

input, textarea, button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}

input::selection {
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  -webkit-appearance: button;
}
.no-event{
  pointer-events: none;
  color: #989898;
}
.none {
  display: none !important;
}

.fc-fx {
  display: flex;
}

.fc-ud {
  flex-direction: column;
}

.fc-lr {
  flex-direction: row;
}

.fc-at {
  display: flex;
  flex: auto;
}

.fc-nu {
  display: flex;
  flex: 0 0 auto;
}

.fc-ct {
  align-items: center;
  justify-content: center;
}

.app {
  height: 100%;
  display: flex;
  background-color: #f1f1f1;
  color: #404040;
}

.modal {
  position: absolute;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
  top: 100%;
  transition: top .5s cubic-bezier(0.49, -0.07, 0.15, 1.05)
}

.modal.transition-top {
  top: 20%;
  transition: top .5s cubic-bezier(0.49, -0.07, 0.15, 1.05)
  /*animation: translate-y .5 cubic-bezier(0.49, -0.07, 0.15, 1.05);*/
}

@keyframes translate-y {
  0% {
    transform: translatey(100%)
  }
  50% {
    transform: translatey(70%)
  }
  70% {
    transform: translatey(40%)
  }
  100% {
    transform: translatey(20%)
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: -20px;
}

.app-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #000;
}

.app-bg .rgba {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, .4) 75%, rgba(0, 0, 0, .6) 100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-deep-bg {
  background-color: rgba(0, 0, 0, .3);
  z-index: 11;
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.49, -0.07, 0.15, 1.05)
}

.popup-deep-bg.transition-opacity {
  opacity: 1;
  transition: opacity .5s cubic-bezier(0.49, -0.07, 0.15, 1.05)
}

.popup-bg {
  background-color: rgba(0, 0, 0, 0);
  z-index: 11;
}

.auth-bg {
  background: linear-gradient(45deg, #53d4a1 10%, #99bdda 90%);
  -webkit-background-size: 200% 100%;
  background-size: 200% 100%;
  animation: auth-bg-move 10s ease infinite;
}

.popup-container .popup {
  z-index: 12;
  color: #ffffff;
  min-width: 130px;
  line-height: 25px;
  min-height: 25px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10%;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.auth {
  position: absolute;
  top: 20%;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.auth-logo {
  font-size: 40px;
  font-weight: 600;
}

.auth-title {
  margin-top: 10px;
}

.auth-subtitle {
  font-size: 12px;
}

.auth-title > span {
  vertical-align: bottom;
  text-decoration: underline;
  cursor: pointer;
}

.auth-content {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 0 15px;
}

.form {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.form_group {
}

.form_input {
  width: 100%;
  padding: 20px;
}

.form_button {
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #afafaf;
  transition: 0.3s;
  cursor: pointer;
}

.form_button:hover {
  background-color: #999999;
}

.form.no {
  animation: auto-form-move 1s ease-in-out;
}

@keyframes auth-bg-move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes auto-form-move {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}