/*TopBar css*/
.top-bar{
  height: 80px;
}
.site-name {
  float: left;
  line-height: 70px;
  width: 100px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  user-select: none;
  margin-left:80px;
}
.logout{
  float: right;
  font-size: 14px;
  line-height: 70px;
  color: #fff;
  margin-right: 30px;
  cursor: pointer;
}