/*TopBar css*/
.left-bar{
  min-width:340px;
  border-top-left-radius:2px;
  border-top-right-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}